body {
  background-color: aqua;
}

.todo-list {
  background-color: white;
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow:
  /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
          /* The second layer */
      0 10px 0 -5px #eee,
          /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
          /* The third layer */
      0 20px 0 -10px #eee,
          /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 30px;
}

.todo-item {
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

.todo-item label{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.todo-item div{
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: gray;
}

.todo-item span{
  width: 60%;
  height: 2px;
  background-color: white;
  background-image: url(./images/check.png);
  background-repeat: no-repeat;
  background-position: center top 3px;
  border-radius: 2px;
}

.todo-item p{
  flex: 1;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:focus {
  outline: 0;
}